<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/custom.css" />

    <script src="~/lib/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/473e0e15f6.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
